<div class="app-wrapper">
  <mat-toolbar color="primary" class="header-toolbar">
    <div style="text-align: center; width: 100%;">ES Lint Rules</div>
  </mat-toolbar>

  <div class="content-menu">
    <mat-list role="list" class="list-menu">
      <mat-list-item role="listitem">
        <a [routerLink]="''">Home</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'array-bracket-spacing'">array-bracket-spacing</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'array-callback-return'">array-callback-return</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'ban-types'">ban-types</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'camelcase'">camelcase</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'comma-dangle'">comma-dangle</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'component-class-suffix'">component-class-suffix</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'component-selector'">component-selector</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'curly'">curly</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'default-case'">default-case</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'default-case-last'">default-case-last</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'directive-class-suffix'">directive-class-suffix</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'directive-selector'">directive-selector</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'dot-notation'">dot-notation</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'eqeqeq'">eqeqeq</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'explicit-function-return-type'">explicit-function-return-type</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'getter-return'">getter-return</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'indent'">indent</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'max-len'">max-len</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'max-lines'">max-lines</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'max-lines-per-function'">max-lines-per-function</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'max-statements'">max-statements</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-alert'">no-alert</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-bitwise'">no-bitwise</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-compare-neg-zero'">no-compare-neg-zero</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-conflicting-lifecycle'">no-conflicting-lifecycle</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-console'">no-console</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-const-assign'">no-const-assign</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-debugger'">no-debugger</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-dupe-args'">no-dupe-args</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-dupe-class-members'">no-dupe-class-members</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-dupe-else-if'">no-dupe-else-if</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-dupe-keys'">no-dupe-keys</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-duplicate-case'">no-duplicate-case</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-duplicate-imports'">no-duplicate-imports</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-empty'">no-empty</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-empty-function'">no-empty-function</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-empty-lifecycle-method'">no-empty-lifecycle-method</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-eval'">no-eval</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-extra-semi'">no-extra-semi</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-irregular-whitespace'">no-irregular-whitespace</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-lonely-if'">no-lonely-if</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-multi-spaces'">no-multi-spaces</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-multiple-empty-lines'">no-multiple-empty-lines</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-restricted-imports'">no-restricted-imports</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-self-assign'">no-self-assign</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-self-compare'">no-self-compare</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-setter-return'">no-setter-return</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-sparse-arrays'">no-sparse-arrays</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-template-curly-in-string'">no-template-curly-in-string</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-throw-literal'">no-throw-literal</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-trailing-spaces'">no-trailing-spaces</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-unreachable'">no-unreachable</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-unreachable-loop'">no-unreachable-loop</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-unused-expressions'">no-unused-expressions</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-unsafe-optional-chaining'">no-unsafe-optional-chaining</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-use-before-define'">no-use-before-define</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-unused-vars'">no-unused-vars</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'no-whitespace-before-property'">no-whitespace-before-property</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'object-curly-spacing'">object-curly-spacing</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'prefer-const'">prefer-const</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'quotes'">quotes</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'radix'">radix</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'require-jsdoc'">require-jsdoc</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'semi'">semi</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'use-isnan'">use-isnan</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'use-lifecycle-interface'">use-lifecycle-interface</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'use-pipe-transform-interface'">use-pipe-transform-interface</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="'valid-typeof'">valid-typeof</a>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
